body {
  width: 100%;
  height: 100%;
  position: relative;
}
img {
  position: absolute;
  width: 100vw;
  height: 100vw;
  opacity: 1;
  z-index: -1;
  filter:brightness(25%);
}


.main-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.5em;
  z-index: 9;
} 
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(90, 90, 25);
  font-size: 2.5em;
}

.container-fluid {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

#foot_article {
  margin: 2em;
}

/* img.d-inline-block align-top {
  max-width: 0px;
  max-height: 0px;
} */
